<section class="footer-section-banner">
  <div class="container">
    <div class="row free-trial-footer-banner">
      <div class="col-md-8">
        <h5 class="free-trial-footer-banner-title">Gabung Sekarang Juga, Dan Dapatkan Promo Menarik Dari DEKA</h5>
      </div>

      <div class="col-md-4 free-trial-footer-links d-flex align-items-center justify-content-end">
        <div class="d-flex align-items-center">
          <a class="sign-btn" href="https://apps.deka.net.id/signup">Daftar</a>
          <a class="log-btn" href="https://apps.deka.net.id/login">Masuk</a>
        </div>
      </div>
    </div>
  </div>
</section>
