<section class="footer-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h5>PT DEKADATA LINGKAR NUSANTARA</h5>
        <p>Jl. Parangtritis KM 6.5, Ngijo, Bangunharjo, Sewon, Bantul, Yogyakarta, 55188</p>
        <ul class="quiq-links-footer-ul">
          <li><a href="#">layanan Informasi dan Penjualan : <br>Senin - Sabtu, 08:00 - 17:00</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>Informasi dan Bantuan : </p>
        <ul class="quiq-links-footer-ul">
          <li><a href="#">Telepon : (0274) 422 1111</a></li>
          <li><a href="#">Whatsapp : 0851 7311 4211 (Sales)</a></li>
          <li><a href="#">Whatsapp : 0851 7211 4211 (NOC)</a></li>
          <li><a href="#">Email : support@deka.net.id</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="quiq-links-footer-ul">
          <p>Tautan : </p>
          <li><a href="https://apjii.or.id/">Asosiasi Penyelenggara Jasa Internet Indonesia</a></li>
          <li><a href="https://www.kominfo.go.id/">Kementrian Komunikasi Dan Informatika Republik Indonesia</a></li>
          <li><a href="https://idnic.id/">Indonesia Network Information Center</a></li>
        </ul>
      </div>
    </div>

    <div class="mr-tp-40 row justify-content-between footer-area-under">
      <div class="col-md col-12 d-flex align-items-center">
        <a href="#"><img class="footer-logo-blue" src="img/header/logo-w.png" alt="" /></a>
        <div class="footer-social-icons mr-4">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>


  </div>
</section>
