<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="color-scheme" content="light only">
<link rel="icon" href="favicon.png">
<title>Deka | <%= page %></title>

<!-- Bootstrap , fonts & icons -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/icons-pack/fontawesome/css/all.min.css" rel="stylesheet" />
<!-- main css file -->
<link href="/css/main.min.css" rel="stylesheet" />
